body{
    background-image: url('Images/artwork.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
}
.transp{
    opacity: 50%;
}
.txtcolor{
    color: rgba(81, 0, 211, 0.918);
}

  .mojFooter{
    background-color: #f8f8f8;
    color: #00a651;
    padding-top: 1000px;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0px;
    z-index: -1;
}

.bottom-footer{
    border-top: 1px solid #00a651;
    margin-top: 0px;
    padding-top: 7px;
    color: #00a651;

}

.footer-nav li{
    display: inline;
    padding: 0px 40px;
}

.footer-nav a{
    color: grey;
    text-decoration: none;
}